<!DOCTYPE html>
<html>

<head>
  <title>detail</title>
  <!-- <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.5.1/styles/default.min.css" rel="stylesheet"> -->
  <!-- <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css" rel="stylesheet"> -->
  <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.5.1/styles/github.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
</head>

<body>
  <pre>
    <code class="language-<%= lang %>"><%= code %></code>
  </pre>
  <script>hljs.highlightAll();</script>
</body>

</html>